footer
  .foot
    ul
      li
        b Products
      li
        a(href='#') Generate icon
      li
        a(href='#') Download icons
      li
        a(href='#') Refer and earn
      li
        a(href='#') Frequently asked questions
  .foot
    ul
      li
        b Developers
      li
        a(href='#') Api Documentation
      li
        a(href='#') Api reference
      li
        a(href='#') Developer support
  .foot
    ul
      li
        b Contact Us
      li
        a.twitter(href='#')
          | Twitter 
          i.fa-brands.fa-twitter
      li
        a.instagram(href='#')
          | Instagram 
          i.fa-brands.fa-instagram
      li
        a(href='#') Privacy Policy
      li
        a(href='#') Terms of use
script(src='/js/bundle.js')        