header
  .logo
    img(src='/img/bilicon-low-resolution-color-logo 2.png' alt='BILICON')
  nav.navbar
    a.toggle-button(href='#')
      span.bar
      span.bar
      span.bar
    .menu1
      a.active(href='/') Home
      a(href='/about') About
      a(href='/contact') Contact Us
    .menu2
      a.different(href='/login') Sign Up
      a(href='/login') Login