header
  .logo
    img(src='/img/bilicon-low-resolution-color-logo 2.png' alt='BILICON')
  nav.navbar
    a.toggle-button(href='#')
      span.bar
      span.bar
      span.bar
    if user  
      .menu1
        a.active(href='/') Home
        a.active(href='/about') About
        a.active(href='/contact') Contact Us
     
        a.active(href='/history') History
        a.active(href='/conversion') Conversion
        a.active(href='#')
        a.active.logout(href='/') logout
    else
      .menu1
        a.active(href='/') Home
        a.active(href='/about') About
        a.active(href='/contact') Contact Us
      .menu2
        a.different(href='/signup') Sign Up
        a(href='/login') Login
      