doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title About Us
link(rel='stylesheet' href='/css/About Us.css')
link(rel='stylesheet' href='/css/styles.css')
//- script(src='js/index.js' defer='')
script(src='https://kit.fontawesome.com/212fe58092.js' crossorigin='anonymous')
include _header
//- header
//-   .logo
//-     img(src='img/bilicon-low-resolution-color-logo 2.png' alt='BILICON')
//-   nav.navbar
//-     a.toggle-button(href='#')
//-       span.bar
//-       span.bar
//-       span.bar
//-     .menu1
//-       a(href='/') Home
//-       a.active(href='/about') About
//-       a(href='Contact Us.html') Contact Us
//-     .menu2
//-       a.different(href='signup.html') Sign Up
//-       a(href='login.html') Login
section.About
  h1 ABOUT US
  p
    | At Bilicon, we believe that every website deserves a unique and memorable favicon.
    | Our team of designers and developers have created an easy-to-use platform that allows users to quickly
    | and easily generate high-quality favicons for their websites.
  p
    | With Bilicon, users can choose from a wide selection of customizable templates, upload their own images,
    | or create a completely unique design from scratch. Our user-friendly interface allows for quick and easy
    | editing, so users can create a favicon that perfectly represents their brand in just a few simple steps.
  p
    | In addition to our comprehensive favicon generator, we also offer expert tips and advice on how to effectively
    | use favicons to improve user experience and increase website traffic. Our team is dedicated to providing the
    | best possible experience for our users and are always available to assist with any questions or concerns.
  p
    | Choose Bilicon for a simple, efficient, and effective way to create a unique and memorable favicon for your
    | website

include _footer
//- footer
//-   .foot
//-     ul
//-       li
//-         b Products
//-       li
//-         a(href='#') Generate icon
//-       li
//-         a(href='#') Download icons
//-       li
//-         a(href='#') Refer and earn
//-       li
//-         a(href='#') Frequently asked questions
//-   .foot
//-     ul
//-       li
//-         b Developers
//-       li
//-         a(href='#') Api Documentation
//-       li
//-         a(href='#') Api reference
//-       li
//-         a(href='#') Developer support
//-   .foot
//-     ul
//-       li
//-         b Contact Us
//-       li
//-         a.twitter(href='#')
//-           | Twitter 
//-           i.fa-brands.fa-twitter
//-       li
//-         a.instagram(href='#')
//-           | Instagram 
//-           i.fa-brands.fa-instagram
//-       li
//-         a(href='#') Privacy Policy
//-       li
//-         a(href='#') Terms of use
//- script(src='/js/bundle.js')
