doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='css/history.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css')
header
  .logo
    img(src='image/bilicon-logo.png' alt='logo')
  nav.navbar
    a.toggle-button(href='#')
      span.bar
      span.bar
      span.bar
    .menu1
      a(href='../TeamSpoonBill2 Project/conversionPage.html') Home
      a(href='../About us in.html') About
      a(href='../Contact Us in.html') Contact Us
    .menu2
      a.active(href='history.html')
        | History 
        img(src='image/Vector.png' alt='history')
      a.different(href='#') johndoe12
.container
  .grid
    .one
      .flexbox1
      .flexbox2
        button#btn1 Download Icon 
        button#btn2
          img(src='image/document-copy.png' alt='')
          |                 Copy Code
    .one
      .flexbox1
      .flexbox2
        button#btn1 Download Icon 
        button#btn2
          img(src='image/document-copy.png' alt='')
          |                 Copy Code
    .one
      .flexbox1
      .flexbox2
        button#btn1 Download Icon 
        button#btn2
          img(src='image/document-copy.png' alt='')
          |                 Copy Code
    .one
      .flexbox1
      .flexbox2
        button#btn1 Download Icon 
        button#btn2
          img(src='image/document-copy.png' alt='')
          |                 Copy Code
    .one
      .flexbox1
      .flexbox2
        button#btn1 Download Icon 
        button#btn2
          img(src='image/document-copy.png' alt='')
          |                 Copy Code
    .one
      .flexbox1
      .flexbox2
        button#btn1 Download Icon 
        button#btn2
          img(src='image/document-copy.png' alt='')
          |                 Copy Code
    .one
      .flexbox1
      .flexbox2
        button#btn1 Download Icon 
        button#btn2
          img(src='image/document-copy.png' alt='')
          |                 Copy Code
    .one
      .flexbox1
      .flexbox2
        button#btn1 Download Icon 
        button#btn2
          img(src='image/document-copy.png' alt='')
          |                 Copy Code
    .one
      .flexbox1
      .flexbox2
        button#btn1 Download Icon 
        button#btn2
          img(src='image/document-copy.png' alt='')
          |                 Copy Code
    .one
      .flexbox1
      .flexbox2
        button#btn1 Download Icon 
        button#btn2
          img(src='image/document-copy.png' alt='')
          |                 Copy Code
    .one
      .flexbox1
      .flexbox2
        button#btn1 Download Icon 
        button#btn2
          img(src='image/document-copy.png' alt='')
          |                 Copy Code
    .one
      .flexbox1
      .flexbox2
        button#btn1 Download Icon 
        button#btn2
          img(src='image/document-copy.png' alt='')
          |                 Copy Code

include _footer
section.footer
  .footer-container
    .boxes
      h3 Products
      a(href='#')  Generate icon
      a(href='#') Download icons
      a(href='#') Refer and earn
      a(href='#') Frequently asked questions
    .boxes
      h3 Developers
      a(href='#') Api Documentation
      a(href='#') Api reference
      a(href='#') Developer support
    .boxes
      h3 Contact us
      a(href='#')
        | Twitter 
        img(src='image/white background.png' alt='Twitter-logo')
      a(href='#')
        | Instagram 
        img(src='image/Group.png' alt='')
      a(href='#') Private Policy
      a(href='#') Terms of use
