doctype html

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title BILICON
link(rel='stylesheet' href='/css/styles.css')
//- script(type='module' src='js/index.js' defer='')
script(src='https://kit.fontawesome.com/212fe58092.js' crossorigin='anonymous')

include _header
//- header
//-   .logo
//-     img(src='/img/bilicon-low-resolution-color-logo 2.png' alt='BILICON')
//-   nav.navbar
//-     a.toggle-button(href='#')
//-       span.bar
//-       span.bar
//-       span.bar
//-     .menu1
//-       a.active(href='/') Home
//-       a(href='/about') About
//-       a(href='/contact') Contact Us
//-     .menu2
//-       a.different(href='/login') Sign Up
//-       a(href='/login') Login
section.Section1
  h1 Quickly generate your favicon from scratch using text and image
  p
    | Use Bilicon to create more appealing visual representation that stand out on every platform.
  a(href='#')
    | Get Started 
    i.fa-sharp.fa-solid.fa-arrow-right
section.Section2
  .box1
    img(src='img/unsplash_fRqWbDS40Bg.png')
  .box2
    h2 What is a favicon?
    p
      | Favicons are branded icons used in search engines, apps and platforms. They allow users find a website easily in the bookmark of their browsers.
section.Section3
  h1 How to create a favicon
  .first
    .circle 1
    .box1-1
      h2 INPUT IMAGE OR TEXT
      p
        | Put your desired image or text and watch bilicon generate the best possible icons in no time.
    .box1-2
      img(src='img/Rectangle 62.png')
      p INPUT IMAGE OR TEXT
  .first
    .circle 2
    .box1-1
      h2 CREATE A FAVICON
      p
        | Create your desired icon in different sizes or a single website icon. Edit them as you like.
    .box1-3
      img(src='img/Rectangle 79.png')
      p CREATE A FAVICON
  .first
    .circle 3
    .box1-1
      h2 SAVE AND DOWNLOAD
      p
        | Download your file in the right format (PNG) to your computer. Now you can add them to your website or any other platform.
    .box1-4
      img(src='img/Rectangle 85.png')
      p SAVE AND DOWNLOAD
section.Section4
  h1 Why Bilicon?
  article.article1
    .box2-1
      .side1
        img(src='img/Vector.png')
      h2 ALL THE SIZES YOU WANT
      p Bilicon offers an entire set of icons to fit every platform(16-128px).
    .box2-1
      .side2
        img(src='img/Vector1.png')
      h2 EXCLUSIVE COPYRIGHT
      p You get full rights to use your favicons for different purposes.
    .box2-1
      .side3
        img(src='img/Vector2.png')
        img(src='img/Vector2-1.png')
      h2 ABSOLUTELY FREE
      p Save a lot more money using Bilicon to generate your favicons.
  article.article1
    .box2-1
      .side4
        img(src='img/Vector3.png')
      h2 SIMPLE AND EASY
      p No extra tools are needed to turn your image or text into favicons.
    .box2-1
      .side5
        img(src='img/Vector4.png')
      h2 EASILY CURATED
      p No extra tools are needed to turn your image or text into favicons.
    .box2-1
      .side6
        img(src='img/Vector5.png')
      h2 ULTRA FAST
      p
        | Create a logo and website icon in no time. That&apos;s faster than you can say Bilicon.

include _footer
//- footer
//-   .foot
//-     ul
//-       li
//-         b Products
//-       li
//-         a(href='#') Generate icon
//-       li
//-         a(href='#') Download icons
//-       li
//-         a(href='#') Refer and earn
//-       li
//-         a(href='#') Frequently asked questions
//-   .foot
//-     ul
//-       li
//-         b Developers
//-       li
//-         a(href='#') Api Documentation
//-       li
//-         a(href='#') Api reference
//-       li
//-         a(href='#') Developer support
//-   .foot
//-     ul
//-       li
//-         b Contact Us
//-       li
//-         a.twitter(href='#')
//-           | Twitter 
//-           i.fa-brands.fa-twitter
//-       li
//-         a.instagram(href='#')
//-           | Instagram 
//-           i.fa-brands.fa-instagram
//-       li
//-         a(href='#') Privacy Policy
//-       li
//-         a(href='#') Terms of use
//- script(src='/js/bundle.js')