doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Explore Library Page
// <link rel="stylesheet" href="css/Contact Us.css">
link(rel='stylesheet' href='css/Contact Us in.css')
link(rel='stylesheet' href='css/library.css')
script(src='js/index.js' defer='')
script(src='https://kit.fontawesome.com/212fe58092.js' crossorigin='anonymous')
header
  .logo
    img(src='img/bilicon-low-resolution-color-logo 2.png' alt='BILICON')
  nav.navbar
    a.toggle-button(href='#')
      span.bar
      span.bar
      span.bar
    .menu1
      a(href='TeamSpoonBill2 Project/conversionPage.html') Home
      a(href='About us in.html') About
      a.active(href='Contact Us in.html') Contact Us
    .menu2
      a(href='./history/history.html')
        | History 
        img(src='./history/image/Vector.png')
      a.different(href='#') johndoe12
section.showcase
  .container
    .search-bar
      .input-box
        i.fa.fa-search
        input(type='text' placeholder='Search Library')
    ul
      li
        a(href='#') Multicolor icons
      li
        a.active(href='#') Monochrome icons
      li
        a(href='#') Emojis
    .boxes
      .row1
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
      .row1
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
      .row1
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
      .row1
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
      .row1
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
        input.btn(type='button' value='')
    button(type='button') Select
include _footer