doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login
link(rel='stylesheet' href='css/login.css')
link(rel='stylesheet' href='css/styles.css')
//- script(src='js/index.js' defer='')
script(src='https://kit.fontawesome.com/212fe58092.js' crossorigin='anonymous')
header
  .logo
    img(src='img/bilicon-low-resolution-color-logo 2.png' alt='BILICON')
  nav.navbar
    a.toggle-button(href='#')
      span.bar
      span.bar
      span.bar
    .menu1
      a(href='/') Home
      a(href='/about') About
      a(href='/contact') Contact Us
    .menu2
      a.different(href='signup.html') Sign Up
      a(href='login') Login
section
  .contact
    h1 Login to your account
    form.form-login(method='post')
      label(for='email') Email
      input#email(type='email' placeholder='example@gmail.com' required='')
      label(for='pwd') Password
      input#pwd(type='password' placeholder='Enter your password' required='')
      input.submit(type='submit' value='Login')
      .remember
        .left
          label
            input(type='checkbox')
            |  Remember me
        .right
          a(href='#') Forgot password?
    p
      | Don&apos;t have an account?
      a(href='signup.html') Sign up
footer
  .foot
    ul
      li
        b Products
      li
        a(href='#') Generate icon
      li
        a(href='#') Download icons
      li
        a(href='#') Refer and earn
      li
        a(href='#') Frequently asked questions
  .foot
    ul
      li
        b Developers
      li
        a(href='#') Api Documentation
      li
        a(href='#') Api reference
      li
        a(href='#') Developer support
  .foot
    ul
      li
        b Contact Us
      li
        a.twitter(href='#')
          | Twitter 
          i.fa-brands.fa-twitter
      li
        a.instagram(href='#')
          | Instagram 
          i.fa-brands.fa-instagram
      li
        a(href='#') Privacy Policy
      li
        a(href='#') Terms of use
script(src='/js/bundle.js')

