@font-face {
  font-family: Outfit;
  src: url(Outfit-Regular.ttf);
}

* {
  box-sizing: border-box;

  font-family: Outfit;
  /* max-height: 100vh; */
}
.hero1 {
  display: flex;
  margin-left: 20%;
  box-sizing: border-box;
  margin-top: 70px;
}

.bodyText {
  width: 80%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
}

.faqss {
  margin-bottom: 40px;
  box-sizing: border-box;
  font-size: 20px;
}
.hero {
  box-sizing: border-box;
  width: 50%;
}

.nav {
  background-color: #E7D4F7;
  padding: 2px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.mainNav {
  margin-right: 40px;
  padding: 2px;
  color: #B3A1BE;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 3px;
  margin-left: 40px;

  font-family:outfit;
  font-weight: 400;
  font-size: 21px;
}

.mainNav a {
  color: #B3A1BE;
}

.mainNav a.active {
  color: #9D54DE;
}
.mainNa {
  margin-left: 35%;
  padding: 2px;
  color: #B3A1BE;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  margin-top: 3px;
  margin-right: 45px;
  text-align: right;
  font-size: 18px;
}
.mainNa:active {
  color: #9D54DE;
}
.mainN{
    padding: 2px;
    color: #B3A1BE;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    text-align: right;
    font-size: 17px;
    margin-top: 3px;
}
.mainN:active {
  color: #9D54DE;
}
.Logo {
  width: 322.44;
  height: 36px;
  line-height: 45.36px;
}

#choose {
  padding: 15px;
  background-color: #F9F9F9;
  box-sizing: border-box;
  border: solid #212121 2px;
  border-radius: 5px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  width: 70%;
  cursor: pointer;
}

#generate {
  padding: 15px;
  background-color: #FFAD03;
  box-sizing: border-box;
  border: solid grey, 2px;
  border-radius: 5px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  width: 70%;
  cursor: pointer;
}
.input {
  width: 477px;
  height: 312px;
  background-color: #FFFFFF;
  padding: 25px;
  display: flex;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px dashed grey;
  text-align: center;
  border-radius: 10px;
}

/* input{
    display:none
} */

.footer {
  bottom: 0px;
  display: flex;
  box-sizing: border-box;
  background-color: #E7D4F7;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.foot {
  box-sizing: border-box;
  width: 50%;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
